/* Global styles */
$text-light: #ffffff;
$text-medium: #6B7280;
/* Badge variables colors can also be used for banners*/
$badge-gray-bg: #F3F4F6;
$badge-gray-txt: #1F2937;
$badge-red-bg: #FEE2E2;
$badge-red-txt: #991B1B;
$badge-yellow-bg: #FEF3C7;
$badge-yellow-txt: #92400E;
$badge-green-bg: #D1FAE5;
$badge-green-txt: #065F46;
$badge-blue-bg: #DBEAFE;
$badge-blue-txt: #1e40af;
$badge-indigo-bg: #E0E7FF;
$badge-indigo-txt: #3730A3;
$badge-purple-bg: #EDE9FE;
$badge-purple-txt: #5B21B6;
$badge-pink-bg: #FCE7F3;
$badge-pink-txt: #9D174D;

/* Card */
$card-bg: #F9FAFB;
$card-accent-clr: #3F75FE;

/* Testimonial */
$testimonial-bg: #2545B8;